@import "../global.scss";
.products {
  min-height: 100vh;
  margin-top: 60px;
  .header {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .main {
    margin: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
      margin: 5px;
    }
    .header {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      margin: 40px 0;
      @include md {
        font-size: 20px;
      }
      @include sd {
        font-size: 18px;
      }
    }
    .content {
      max-width: 1000px;
      padding: 10px;
      margin-left: 30px;
      @include md {
        padding: 5px;
        margin: 5px;
      }
    }
  }
}
