@import "../global.scss";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  .wrapper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sd {
      flex-direction: column-reverse;
    }
    .left {
      width: 50%;
      border-right: solid 1px $orange;
      padding: 25px;
      font-size: 20px;
      font-weight: 300;
      @include md {
        font-size: 15px;
        margin-left: 25px;
      }
    }
    .right {
      width: 50%;
      .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        @include md {
          margin-right: 30px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
