@import "../global.scss";

.card {
  background-color: #e4e4e4;
  color: #000;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  @include md {
    width: 60%;
  }
  @include sd {
    width: 100%;
  }
  .cardIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    svg {
      height: 40px;
      width: 40px;
    }
  }
  .cardText {
    padding: 5px 10px;
    background-color: #e9e9e9;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid $orange;
    h5 {
      text-align: center;
      text-transform: capitalize;
      font-size: 18px;
      margin: 10px 0;
      font-weight: 600;
      letter-spacing: 1px;
    }
    div {
      font-weight: 400;
      font-size: 13px;
      word-wrap: normal;
      margin-bottom: 10px;
      line-height: 1.2;
      color: #202020;
    }
    .link {
      margin-top: 3px;
      font-size: 14px;
      text-decoration: underline;
      color: $orange;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
