@import "../global.scss";

.newhero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 60px);
  padding-top: 60px;
  padding: 10px;
  .container {
    margin-top: 60px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
