@import "../global.scss";

.newhero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  padding: 10px;
  .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
