@import "../global.scss";

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 30px;
    @include md {
      margin-top: 50px;
    }
    @include sd {
      margin-top: 80px;
    }
    h3 {
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 1px;
      .icon {
        color: $orange;
      }
    }
  }
  .gridwrapper {
    max-width: 1000px;
    margin: 15px 30px;
    @include md {
      margin: 5px 10px;
    }

    .grid {
      display: grid;
      justify-content: center;
      align-content: center;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      @include md {
        grid-template-columns: 1fr;
        place-items: center;
      }
      @include sd {
        grid-template-columns: 1fr;
        place-items: center;
      }
    }
  }
}
