@import "../global.scss";

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include md {
    flex-direction: column-reverse;
  }

  .left {
    width: 50%;
    @include md {
      padding: 10px;
    }

    h2 {
      text-align-last: left;
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: 800;
      letter-spacing: 1px;
      @include md {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
      }
    }
    p {
      font-size: 25px;
      font-weight: 500;
      text-align: left;
      @include md {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  .right {
    width: 50%;
    @include md {
      padding: 10px;
    }
  }
}
