@import "../global.scss";

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.testimonial {
  width: 8000px;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 250px;
    border: 1px solid $orange;
    border-radius: 5px;
    background-color: #e4e4e4;
    .left {
      width: 100px;
      background: $orange;
      padding: 1px;
      height: 100px;
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    .right {
      padding: 5px;
      width: 350px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
      }
      h5 {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 8px;
        text-transform: capitalize;
        font-style: italic;
        text-align-last: left;
      }
      p {
        font-size: 16px;
        line-height: 1.4;
        position: relative;
        &::before {
          content: '"';
          color: $orange;
          font-size: 22px;
          font-weight: 600;
          margin-right: 1px;
        }
        &::after {
          content: '"';
          color: $orange;
          font-size: 22px;
          font-weight: 600;
          margin-left: 1px;
        }
      }
    }
  }
}
