@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

$orange: #f27521;
$ash: #303030;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  text-align: justify;
}
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sd {
  @media (max-width: 480px) {
    @content;
  }
}
