@import "./global.scss";
.initiatives {
  min-height: 100vh;
  margin-top: 60px;
  .header {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      max-width: 1000px;
      h3 {
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: 500;
        text-align: center;
      }
      p {
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.2;
      }
    }
  }
}
