@import "./global.scss";

.nav {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  box-shadow: 10px 10px 15px -15px #000;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .logo {
    width: 200px;
    padding: 10px;
    margin-left: 15px;
    height: 60px;
  }
  .navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      text-transform: uppercase;
      transition: all 0.3s ease;
      @include md {
        height: 200px;
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        z-index: 3;
        position: absolute;
        top: 25px;
        padding: 10px 0;
      }
      .close {
        font-size: 20px;
        color: #fff;
        background-color: #404040;
        cursor: pointer;
        position: absolute;
        right: 2px;
        top: 2px;
        display: none;
        transition: all 0.3s ease;
        &:hover {
          color: #000;
          background-color: $orange;
        }
        @include md {
          display: block;
        }
      }
      li {
        padding: 5px 10px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        font-size: 15px;
        transition: all 0.3s ease;
        letter-spacing: 1px;
        @include md {
          display: block;
          z-index: 4;
          height: 25px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: $orange;
          }
        }
        svg {
          margin-left: 5px;
          @include md {
            display: none;
          }
        }
        &:hover {
          .dropdown {
            display: block;

            @include md {
              display: none;
            }
          }
        }
        .dropdown {
          background-color: #fff;
          width: 260px;
          display: none;
          position: absolute;
          z-index: 2;
          top: 60px;
          border-radius: 0 0 2px 2px;
          box-shadow: 0 0 2px black;
          box-shadow: inset;
          text-transform: capitalize;
          text-align: left;
          padding: 10px 5px;
          ul {
            display: block;

            li {
              &:hover {
                background: #e4e4e4;
              }
            }
          }
          @include md {
            display: none;
          }
        }
      }
    }
  }
  .btn {
    button {
      border: none;
      text-decoration: none;
      margin-right: 30px;
      padding: 5px 10px;
      background-color: $orange;
      text-transform: capitalize;
      color: #fff;
      border-radius: 5px;
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 0 10px $orange;
      }
      @include md {
        display: none;
      }
    }
  }
  .ham {
    position: absolute;
    right: 15px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
    &:hover {
      font-size: 33px;
      color: $orange;
    }
    @include md {
      display: block;
    }
  }
}

.hidemenu {
  @include md {
    transform: translateY(-400px);
  }
}

.showmenu {
  @include md {
    transform: translateY(0);
  }
}
