@import "./global.scss";

.terms {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .content {
    max-width: 1000px;
    h3,
    h2 {
      margin: 15px 0;
      text-align: center;
      font-weight: 500;
      text-decoration: underline;
      font-size: 16px;
    }
    p {
      font-weight: 200;
      font-size: 14px;
    }
    ul {
      margin: 5px 20px;
      list-style: square;
    }
    li {
      list-style: square;
      font-weight: 200;
      font-size: 14px;
      font-style: italic;
    }
  }
}
