@import "../global.scss";

.block {
  margin-bottom: 30px;
  h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    @include md {
      font-size: 18px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    @include md {
      flex-direction: column-reverse;
    }
    .left {
      width: 50%;
      padding: 10px;
      @include md {
        width: 100%;
        margin: 10px;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        @include md {
          font-size: 15px;
        }
      }
    }
    .right {
      width: 50%;
      padding: 10px;
      @include md {
        width: 100%;
        margin: 10px;
      }
    }
  }
}
