@import "../global.scss";

.header {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.main {
  min-height: 100vh;
  margin: 20px 60px;
  display: flex;
  position: relative;
  .content {
    flex-grow: 1;
    max-width: 650px;
    padding: 10px;
    margin-left: 30px;
    overflow: auto;
    h3 {
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 2px;
    }
    p {
      font-size: 16px;
      font-weight: 200;
      margin: 10px 0;
      margin-bottom: 40px;
    }
  }
}
