@import "../global.scss";

.sidebar {
  position: sticky;
  top: 0;
  width: 30%;
  background-color: #101010;
  padding: 10px;
  border-radius: 5px;
  @include md {
    display: none;
  }

  ul {
    margin-top: 40px;
    position: absolute;
    li {
      margin-bottom: 10px;
      font-size: 16px;
      margin-left: 15px;
      a {
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
