@import "../global.scss";

form {
  width: 100%;
  background-color: #101010;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #202020;
  .formControl {
    margin-bottom: 10px;
    label {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $ash;
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      background-color: #202020;
      color: #fff;
    }
    textarea {
      width: 100%;
      border: 1px solid $ash;
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      background-color: #202020;
      color: #fff;
    }
  }
  button {
    width: 100%;
    background: $orange;
    border: none;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 4px #fff;
  }
}
