@import "../global.scss";

.single {
  margin-bottom: 30px;
  .header {
    h3 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      @include md {
        font-size: 17px;
      }
    }
  }
  .content {
    .container {
      display: flex;

      @include md {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .left {
        width: 50%;
        padding: 10px;
        @include md {
          width: 100%;
          margin: 10px;
        }
      }
      .right {
        width: 50%;
        padding: 10px;
        @include md {
          width: 100%;
          margin: 10px;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 1.5;
          @include md {
            font-size: 14px;
          }
        }
      }
    }
  }
}
