@import "../global.scss";

.card {
  margin: 10px;
  padding: 10px;
  background-color: #202020;
  width: 400px;
  border-radius: 5px;
  .cardHeader {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .cardImage {
  }
  .cardContent {
    font-weight: 300;
  }
  .link {
    font-weight: 400;
    text-decoration: underline;
    color: $orange;
    cursor: pointer;
    margin-top: 10px;
  }
}
