@import "../global.scss";

.card {
  margin: 10px;
  padding: 10px;
  background-color: #e4e4e4;
  width: 400px;
  border-radius: 5px;
  color: #000;
  border: 1px solid $orange;
  @include md {
    width: 250px;
  }
  .cardHeader {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .cardImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardContent {
    font-weight: 300;
    @include md {
      font-size: 14px;
    }
  }
  .link {
    font-weight: 400;
    text-decoration: underline;
    color: $orange;
    cursor: pointer;
    margin-top: 10px;
  }
}
