@import "../global.scss";
.links {
  padding: 10px;
  p {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    @include md {
      text-align: center;
    }
  }
  ul {
    @include md {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 5px;
      text-transform: capitalize;
      @include md {
        font-size: 13px;
      }
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
}
