@import "../global.scss";

.about {
  margin-top: 60px;
  min-height: 100vh;
  .header {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
  }
  .content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 1000px;
      display: flex;

      @include md {
        flex-direction: column-reverse;
      }
      .left {
        width: 50%;
        padding: 10px;
        @include md {
          width: 100%;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          text-align: justify;
          @include md {
            font-size: 13px;
          }
        }
      }
      .right {
        width: 50%;
        padding: 10px;
        @include md {
          width: 100%;
        }
        .imgContainer {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .values {
    margin-top: 20px;
    h4 {
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: capitalize;
      @include md {
        font-size: 18px;
      }
    }
    .valuelist {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include md {
          align-items: start;
          justify-content: start;
        }
        li {
          padding: 10px 20px;
          font-size: 18px;
          background-color: #e4e4e4;
          margin: 0 20px;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $orange;
          border-radius: 10px;
          color: #000;
          @include md {
            margin: 5px;
            padding: 5px;
            font-size: 12px;
          }
          .icon {
            font-size: 30px;
            color: $orange;
            margin-right: 5px;
            @include md {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .teamheader {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin-top: 30px;
    @include md {
      font-size: 18px;
    }
  }
  .teams {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .wrapper {
      width: 1000px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      @include md {
        grid-template-columns: 1fr 1fr;
        margin: 10px;
      }
    }
  }
}
